* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	touch-action: none;
}
label {
	font-size: 14px;
}
.nav {
	display: flex;
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	justify-content: center;
	gap: 20px;
	align-items: center;
	height: 50px;
	opacity: 1;
	transform: translateX(-50%);
	transition: opacity .5s;
}
.selector {
	border: 3px solid rgb(214, 214, 214);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: black;
}
#range {
	background-color: white;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#range .inner {
	background-color: black;
	border-radius: 50%;
	width: 50%;
	height: 50%;
}
.popover {
	box-sizing: content-box;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 28px repeat(4, 45px);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	gap: 15px;
	position: absolute;
	top: 130%;
	left: -90px;
	background-color: white;
	border: 1px solid silver;
	border-radius: 15px;
	width: 250px;
	padding: 20px;
}
#rangepicker {
	grid-column: 2 / 5;
}
.default-colors {
	padding: 0 10px;
	display: flex;
	justify-content: space-evenly;
	grid-column: 3 / 6;
}
.default-color {
	display: inline-block;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	transition: ease .3s;
}
.default-color:hover {
	transform: scale(1.2);
}

button {
	padding: .6em 1em;
	border: none;
	border-radius: 3px;
	outline: none;
	background-color: #f44142;
	color: #fff;
	cursor: pointer;
	transition: ease .3s;
}
button:hover {
	transform: scale(1.1);
}
.save {
	background-color: #0f65d4;
}
.undo {
	background-color: #03bb56;
}
